<!DOCTYPE html>
<html lang="en" layout:decorator="/layouts/alfa" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymleaf.org">
<head>
    <!--nice select app-->
    <link href="http://rawgithub.com/indrimuska/jquery-editable-select/master/dist/jquery-editable-select.min.css"
          rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://rawgithub.com/indrimuska/jquery-editable-select/master/dist/jquery-editable-select.min.js"></script>
</head>
<body>

<div layout:fragment="content">
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p class="pt-2"></p>
                <!-- From -->
                <div class="col-sm-8 my-form offset-2">
                    <div>
                        <form class="my-form" method="post" th:action="@{/post}" th:object="${stringValues}">
                            <!-- Form Name -->
                            <legend>Számla hozzáadása</legend>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-4 control-label sr-only">Számla kelte</label>
                                <div class="col-8 offset-2">
                                    <input type="text" class="form-control" placeholder="Számla kelte" th:field="*{releaseDate}"/>
                                </div>

                                <label class="col-4 control-label sr-only">Fizetési határidő</label>
                                <div class="col-8 offset-2 pt-2">
                                    <input type="text" class="form-control" placeholder="Fizetési határidő" th:field="*{deadline}"/>
                                </div>

                                <!--<label class="col-8 control-label sr-only">Partner</label>-->
                                <!--<div class="col-8 offset-2 pt-2">-->
                                    <!--<input type="text" class="form-control" placeholder="Partner" th:field="*{partner}"/>-->
                                <!--</div>-->

                                <label class="col-8 control-label">Partner Selector</label>
                                <select id="editable-select3" class="form-control es-input" th:field="*{partner}">
                                    <div th:each="partner : ${partners}">
                                        <option value="" th:value="${partner.name}" th:text="${partner.name}">Coca-Cola</option>
                                    </div>
                                </select>

                                <div class="form-raw">
                                    <label class="col-2 control-label sr-only">Bizonylatszám</label>
                                    <div class="col-8 offset-2 pt-2">
                                        <input type="text" class="form-control" placeholder="Bizonylatszám" th:field="*{voucherNumber}"/>
                                    </div>

                                    <label class="col-2 control-label sr-only">Összeg</label>
                                    <div class="col-8 offset-2 pt-2">
                                        <input type="text" class="form-control" placeholder="Összeg" th:field="*{amount}"/>
                                    </div>
                                </div>

                                <!--<label class="col-4 control-label sr-only ">Fizetés jellege</label>-->
                                <!--<div class="col-8 offset-2 pt-2">-->
                                    <!--<input type="text" class="form-control" placeholder="Fizetés jellege" th:field="*{paymant}"/>-->
                                <!--</div>-->

                                <label class="control-label">Fizetés módja</label>
                                <select class="form-control es-input col-8 offset-2 pt-2" th:field="*{paymant}">
                                        <option value="KP">KÉSZPÉNZ</option>
                                        <option value="U">UTALÁS</option>
                                </select>

                                <!--<label class="col-4 control-label sr-only ">Kiadás jellege</label>-->
                                <!--<div class="col-8 offset-2 pt-2">-->
                                    <!--<input type="text" class="form-control" placeholder="Kiadás jellege" th:field="*{paymentType}"/>-->
                                <!--</div>-->

                                <label class="control-label">Jelleg kiválasztás</label>
                                <select id="editable-select4" class="form-control es-input" th:field="*{paymentType}">
                                    <div th:each="type : ${types}">
                                        <option th:text="${type.typeName}">Közüzemi díj</option>
                                    </div>
                                </select>


                                <label class="col-4 control-label sr-only ">Megjegyzés</label>
                                <div class="col-8 offset-2 pt-2">
                                    <input type="text" class="form-control" placeholder="Megjegyzés" th:field="*{notes}"/>
                                </div>

                                <div class="pt-2">
                                    <button type="reset" class="btn btn-outline-secondary col-md-2">Törlés</button>
                                    <button type="submit" class="btn btn-outline-primary col-md-2">Beküldés</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <script>
                        $('#editable-select3').editableSelect({effects: 'fade'});
                        $('#editable-select4').editableSelect({effects: 'fade'});
                    </script>
                </div>

                <!-- Table -->
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Fizetési határidő</th>
                        <th>Számla kelte</th>
                        <th>Partner</th>
                        <th>Bizonylatszám</th>
                        <th>Összeg</th>
                        <th>Fizetés jellege</th>
                        <th>Megjegyzés</th>
                        <th>Kiadás jellege</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="bill : ${bills}">
                        <td th:text="${bill.deadline}">12</td>
                        <td th:text="${bill.releaseDate}">2018-09-22</td>
                        <td th:text="${bill.partner.name}">Telekom</td>
                        <td th:text="${bill.voucherNumber}">7766Khii-0888</td>
                        <td th:text="${bill.amount}">340 000 Ft</td>
                        <td th:text="${bill.paymentType.typeName}">Banki átutalás</td>
                        <td th:text="${bill.notes}"></td>
                        <td th:text="${bill.paymant.name}">Közüzemi díj</td>
                    </tr>
                    </tbody>
                </table>

                <!-- Sum Table -->
                <table class="table table-striped">

                    <label></label>
                    <tbody>
                    <tr>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>