<!DOCTYPE html>
<html lang="en" layout:decorator="/layouts/alfa" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymleaf.org">
<head>
    <!--nice select app-->
    <link href="http://rawgithub.com/indrimuska/jquery-editable-select/master/dist/jquery-editable-select.min.css"
          rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://rawgithub.com/indrimuska/jquery-editable-select/master/dist/jquery-editable-select.min.js"></script>
</head>
<body>

<div layout:fragment="content">
    <!-- Page Content -->

        <div class="row pt-4">
            <div class="col-lg-12 text-center">
                <p class="pt-2"></p>
                <!-- From -->
                <div class="col-md-4 offset-md-4 text-center col-sx-12 offset-sx-0">
                    <div>
                        <form id="myForm" class="my-form" method="post" th:action="@{/post}" th:object="${stringValues}">
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="control-label sr-only">Számla kelte</label>
                                <div class="">
                                    <input type="text" class="form-control mt-2 mb-2" placeholder="Számla kelte" th:field="*{releaseDate}" required="true"/>
                                </div>

                                <label class=" control-label sr-only">Fizetési határidő</label>
                                <div class="">
                                    <input type="text" class="form-control mt-2 mb-2" placeholder="Fizetési határidő" th:field="*{deadline}" required="true"/>
                                </div>

                                <label class="control-label">Partner</label>
                                <select id="editable-select3" class="form-control es-input" th:field="*{partner}" required="true">
                                    <div th:each="partner : ${partners}">
                                        <option value="" th:value="${partner.name}" th:text="${partner.name}">Coca-Cola</option>
                                    </div>
                                </select>

                                <div class="form-raw">
                                    <label class="control-label sr-only">Bizonylatszám</label>
                                    <div class="">
                                        <input type="text" class="form-control mt-2 mb-2" placeholder="Bizonylatszám" th:field="*{voucherNumber}"/>
                                    </div>

                                    <label class=" control-label sr-only">Összeg</label>
                                    <div class="">
                                        <input type="text" class="form-control mt-2 mb-2" placeholder="Összeg" th:field="*{amount}" required="true"/>
                                    </div>
                                </div>

                                <label class="control-label">Fizetés módja</label>
                                <select class="form-control es-input" th:field="*{paymant}" required="true">
                                        <option value="KP">KÉSZPÉNZ</option>
                                        <option value="U">UTALÁS</option>
                                </select>

                                <label class="control-label mt-2">Kifizetés Jellegének kiválasztás</label>
                                <select id="editable-select4" class="form-control es-input" th:field="*{paymentType}" required="true">
                                    <div th:each="type : ${types}">
                                        <option th:text="${type.typeName}">Közüzemi díj</option>
                                    </div>
                                </select>

                                <label class="control-label sr-only ">Megjegyzés</label>
                                <div>
                                    <input type="text" class="form-control mt-2 mb-2" placeholder="Megjegyzés" th:field="*{notes}"/>
                                </div>

                                <div>
                                    <button type="reset" href="/add" class="btn btn-outline-secondary col-xl-3 col-lg-4 col-md-5 col-sm-4 col-sx-6" onclick="resetForm()">Törlés</button>
                                    <button type="submit" class="btn btn-outline-primary col-xl-3 col-lg-4 col-md-5 col-sm-4 col-sx-6" onclick="resetForm()">Beküldés</button>
                                    <script>
                                        //from reset
                                        function resetForm() {
                                            document.getElementById("myForm").reset();
                                        }
                                    </script>
                                </div>
                            </div>
                        </form>
                    </div>
                    <script>
                        // select option setting
                        $('#editable-select3').editableSelect({effects: 'fade'});
                        $('#editable-select4').editableSelect({effects: 'fade'});
                    </script>
                </div>

                <!-- Table -->
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Sorszám</th>
                        <th>Fizetési határidő</th>
                        <th>Számla kelte</th>
                        <th>Partner</th>
                        <th>Bizonylatszám</th>
                        <th>Összeg</th>
                        <th>Fizetés jellege</th>
                        <th>Megjegyzés</th>
                        <th>Kiadás jellege</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="bill : ${bills}">
                        <td th:text="${bill.id}">12</td>
                        <td th:text="${bill.deadline}">12</td>
                        <td th:text="${bill.releaseDate}">2018-09-22</td>
                        <td th:text="${bill.partner.name}">Telekom</td>
                        <td th:text="${bill.voucherNumber}">7766Khii-0888</td>
                        <td th:text="${bill.amount}">340 000 Ft</td>
                        <td th:text="${bill.paymentType.typeName}">Banki átutalás</td>
                        <td th:text="${bill.notes}"></td>
                        <td th:text="${bill.paymant.name}">Közüzemi díj</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>

</div>

</body>
</html>