<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    
    <head>
        <meta charset="utf-8"/>
        <title th:text="${pageTitle}">SimplyProject</title> <!-- key "${key}" -->
        <link rel="stylesheet" href="../css/main.css" />
    </head>
    
    <body>
        <h1 class="Header">ERROR</h1>
        <div id="err">
        		<h2 th:text="${exceptionMessage}">path</h2>
        		<p th:text="${exceptionTime}">exceptionTime</p>
        </div>
        
       <footer>
       <div id="footer" th:text="#{footer}">This is a footer</div>
       </footer> 
    </body>
    
</html>